<!DOCTYPE html>
<html>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
	  <meta name="keywords" content="">
  	<meta name="author" content="Khalil Khouirate">
    <title>Pubmed artikelen | Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
       <style type="text/css">
        #mynetwork {
            width: 1000px;
            height: 700px;
            border: 1px solid lightgray;
        }
    </style>
  <body>
    <header>
          <h1><span class="highlight"></span> </h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="help.html">Help</a></li>


          </ul>
        </nav>
      </div>

    </header>
	<div id="mynetwork"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 1, label: 'Node 1'},
        {id: 2, label: 'Node 2'},
        {id: 3, label: 'Node 3'},
        {id: 4, label: 'Node 4'},
        {id: 5, label: 'Node 5'}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 2, to: 4},
        {from: 2, to: 5}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
    <form action="/results" id="searchform" method="POST">
        <label for="s" class="hidden">Zoekfuntie voor artikelen:</label>
        <div margin-right="10px">
            <input type="text" id="s" name="s" value="" style="font-size: 16pt">
            <input type="submit" value="Zoeken" id="searchsubmit" style="font-size: 13pt">
        </div>
    </form>

  <p></p>
  <p></p>
<button type="button">De gevonden resultaten downloaden</button>
  <p></p>
    <p></p>
<TABLE BORDER="1">
    <TR> <TH>Title article</TH> <TH>LOX Type</TH> <TH>Organism</TH> <TH>Kingdom</TH> <TH>Function/Application</TH> <TH>Author (only first)</TH> <TH>PMID</TH> <TH>Date of publication</TH> <TH>MeSH</TH> <TH>Abstract</TH>
    {# for i in range(0 - sturen|length) #}
    {% for item in sturen %}
        <TR> <TD>{{ item[0] }}</TD> <TD>{{ item[1] }}</TD> <TD>{{ item[2] }}</TD> <TD>{{ item[3] }}</TD> <TD>{{ item[4] }}</TD> <TD>{{ item[5][0] }}</TD> <TD><a href="http://www.pubmed.com/{{ item[6] }}">{{ item[6] }}</a></TD> <TD>{{ item[7] }}</TD> <TD>{{ item[8] }}</TD> <TD>{{ item[9][0:40] }}</TD>
        {#<TR> <TD>{{ sturen[1][0] }}</TD> <TD>{{ sturen[i][1] }}</TD> <TD>{{ sturen[i][2] }}</TD> <TD>{{ sturen[i][3] }}</TD> <TD>{{ sturen[i][4] }}</TD> <TD>{{ sturen[i][5] }}</TD><TD>{{ sturen[i][6] }}</TD> <TD>{{ sturen[i][7] }}</TD> <TD>{{ sturen[i][8] }}</TD> <TD>{{ sturen[i][9] }}</TD> <TD>{{ sturen[i][10] }}</TD> #}

    {% endfor %}

</TABLE>

<body>


    <section id="showcase">
      <div class="container">
        <h1> </h1>
        <p></p>
      </div>
    </section>

        <h1></h1>

      </div>
    </section>


          <p></p>
        </div>
          <p></p>
        </div>
      </div>
    </section>

    <footer>
      <p>Khalil Khouirate; Jacco Schaap, Copyright &copy; 2017</p>
    </footer>
  </body>
  </body>
</html>
